<h3 class="page-header">All Author</h3>

<form action="/authors" method="get">
    <div class="form-row">
        <div class="form-item">
            <label>Name</label>
            <input type="text" name="name" value="<%= searchOptions.name %>">
        </div>
    </div>

    <div class="form-row form-row-end">
        <button class="btn btn-primary" type="submit">Search</button>
    </div>
    
</form>

<% author.forEach(element => { %>
    <div class="author-row">
        <div class="author-name"><%= element.name  %></div>
        <div class="btn-row">
            <a class="btn btn-primary" href="/authors/<%= element.id %>">View</a>
            <a class="btn btn-primary" href="/authors/<%= element.id %>/edit">Edit</a>
            <%- include("../partials/deleteform.ejs", {url: `/authors/${element.id}`}) %>
        </div>
    </div>
    
    

<% }); %>